{
    "parser": "babel-eslint",
    "extends": ["airbnb", "plugin:flowtype/recommended"],
    "plugins": ["react", "jsx-a11y", "import", "flowtype"],
    "rules": {
        "react/jsx-filename-extension": "off"
    },
    "env": {
        "browser": true,
        "node": true
    }
}
